/* 
Color flipper CSS
*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    justify-content: center;
    text-align: center;
    vertical-align: middle;
    height: 100vh;
    padding: 50px;
}

h2{
    text-align: center;
    color: #3a3a3a;
    font-size: 2em;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 50px;
}

button{
    text-align: center;
    padding: 10px 30px;
    font-size: 1em;
    font-weight: 700;
    border-radius: 5px;
    border: 3px solid black;
}